language: php

matrix:
  include:
    - php: 5.6
      env: WITH_CODESTYLE_CHECK=true
    - php: 7.0
    - php: 7.1

before_script: composer install
script:
  - curl -L http://cs.sensiolabs.org/download/php-cs-fixer-v2.phar -o php-cs-fixer
  - chmod a+x php-cs-fixer
  - ls -al
  - if [[ "$WITH_CODESTYLE_CHECK" == "true" ]]; then ./php-cs-fixer fix --config=.php-cs.dist --cache-file=.php-cs.cache --diff --dry-run --verbose .; fi
  - vendor/bin/phpunit --coverage-clover=coverage.xml
