<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         verbose="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">Api</directory>
            <exclude>ThreeDCartTestCase.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
